<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stocksly</title>
  </head>
  <body>
    <h1>Welcome to Stocksly !</h1>
    <h2>You can use Stocksly for getting stocks data in JSON format .</h2>
    <h1>Documentation link</h1>
    <a target="_blank" href="https://stocksly.onrender.com/">Docs</a>
    <h1>Available stocks names</h1>
    <a
      target="_blank"
      href="https://stocksly.onrender.com/stocks/get_available_stocks/"
      >Available stocks</a
    >
    <h1>Get daily data for any stock available</h1>
    <a
      target="_blank"
      href="https://stocksly.onrender.com/stocks/get_stock_daily_data/NVDA/"
      >NVDA stocks daily data</a
    >
    <p>
      This is 30 days data only . if you wish , you can pass start and end
      parameters .
    </p>
    <a
      target="_blank"
      href="https://stocksly.onrender.com/stocks/get_stock_daily_data/NVDA/?start=2020-01-01&end 2024-10-28"
      >NVDA stocks daily data from start=2020-01-01 and end 2024-10-28</a
    >
    <p>display chart also if you wish !</p>
    <a
      target="_blank"
      href="https://stocksly.onrender.com/stocks/get_stock_daily_data_chart/NVDA/?start=2020-01-01&end 2024-10-28"
      >NVDA stocks daily data chart from start=2020-01-01 and end 2024-10-28</a
    >
    <h1>Get per minute data for any stock available</h1>
    <a
      target="_blank"
      href="https://stocksly.onrender.com/stocks/get_stock_per_minute_data/NVDA/?starttime=2024-10-22 00:00:00&endtime=2024-10-28 00:00:00"
      >NVDA stocks per minute data from start=2020-01-01 and end 2024-10-28</a
    >
    <p>display chart also if you wish !</p>
    <a
      target="_blank"
      href="https://stocksly.onrender.com/stocks/get_stock_per_minute_data_chart/NVDA/?starttime=2024-10-22 00:00:00&endtime=2024-10-28 00:00:00"
      >NVDA stocks per minute data chart from start=2020-01-01 and end
      2024-10-28</a
    >
  </body>
</html>
